@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f2eb;
    --blue: #334eac;
    --light-blue: #d0e3ff;
    --secondary-color: #081f5c;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #081f5c;
    --blue: #7096d1;
    --light-blue: #bad6eb;
    --secondary-color: #f2f0de;
  }
}

body {
  color: var(--secondary-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-2xl
  }
}
