@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f0de;
  --foreground: #171717;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --primary: #e5958e;
    --highlight: #ffba00;
    --secondary-color: #000000df;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --primary: #e5958e;
    --highlight: #ffba00;
    --secondary-color: #000000ef;
  }
}

body {
  color: var(--secondary-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
